*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Outfit', sans-serif;
}
.menu{
    display: none;
}

/*primera imagen grande*/


/*BOTONES*/
.boton{
    /*ver como centrar bien el boton*/
    padding: 10px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.boton2{
    padding: 10px 25px;
    background-color:#F3603B;
    border: solid 1px #F3603B;
    color: white;
    border-radius: 30px;
} 

/*BOTONES*/

/***HEADER***/

header{
    width: 100%;
    margin-top: 45px;
    margin-left: 16px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div.hamburguesa img{
    margin-right: 30px;
}

h2{
    text-align: center;
    color:#232C50;
}
/*esto no seria solamente al h2 seria a toda esa parte*/


/***HEADER END***/

/***MAIN***/
.imagen1 img{
    width: 100%;
    display: flex;
    align-content: center;
}
h1{
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 13px;
    padding-right: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #232C50;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    margin-bottom: 20px;
    text-align: center;
    padding: auto;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
/*BOTON GET STARTED*/
main section div button{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
/*H2*/
main section.subtitulo{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 30px;
    text-align: center;
    line-height: 26px;
}
.subtitulo1{
    margin-top: 65px;
    margin-bottom: 15px;
} 
.pcolor1{
    text-align: center;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
main section.ventajas{
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}
main section.ventajas div.ventajastitulos {
    border-radius: 50px;
    background-color: rgb(255, 239, 234);
    width: 100%;
}
span.numeroventaja {
    border-radius: 50px;
    border-color: none;
    background-color: #F3603B;
    padding: 5px 10px;
}
span.titulo {
    font-weight: bold;
    font-size: 20px;
    color: #232C50;
}
/*seguir con el color gris de los p debajo de 01,02,03*/
section p.contenido{
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: justify;
    color: #B3B2B7;
    font-size: 15,5px;
}
span.h2estilo h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
}
section div.contenedora{
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article span.img img{
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    left: 120px;
}
.h4orden{
    margin-bottom: 20px;
    text-align: center;
}
/*ver como acomodar el boton debajo de los articles */
.botonOrden{
}
/*SEGUIR CON ULTIMA PARTE DEL MAIN*/


section.mainlast{
    width: 100%;
    background-color: #F3613C;
    color: white;
}
section.mainlast span.h2font h2{
    text-align: center;
    font-weight:bold;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    width: 100%;
    color: white;
}
.boton1{
    margin-bottom: 60px;
    padding: 10px;
    background-color: white;
    border: solid 1px white;
    color: #F3603B;
    border-radius: 50px;
    position: relative;
    left: 150px;
}
/***MAIN END***/

/***FOOTER***/
footer{
    width: 100%;
    padding-bottom: 30px;
    background-color: #1E1E26;
}
footer div form label.estilo {
    margin-left: 15px;
    padding: 13px;
    padding-right: 50px;
    padding-left: 30px;
    background-color: white;
    color:#B3B2B7;
    border-radius: 20px;
}
.botonGO{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
footer section.ordenlistas{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
footer div nav.lista ul{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    gap: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
/*logo*/
footer div.i {
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div.i a img{
    width: 30px;
}

footer img.logo1 {
    margin-bottom: 10px;
    position: relative;
    left: 110px;
}

footer p.derechos{
    background-color: #1E1E26
    font-size: 13px;
    margin-bottom: 0px;
    color:#B3B2B7;
    display: flex;
    justify-content: center;
    align-items: center;
}


