*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* ir acomodando por orden*/
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* MOVER A MAIN*/
h1{
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 25px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: -0.035em;
    color: #232C50;
    text-align: center;
}

h2{
    color:#232C50;
}
.h2{
    background-color: #F3613C;
    color: white;
}
/*MOVER A MAIN*/
/*BOTONES*/
.boton{
    padding: 10px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.boton1{
    background-color: white;
    border: solid 1px white;
    color: #F3603B;
    border-radius: 50px;
}
.boton2{
    padding: 10px 25px;
    background-color:#F3603B;
    border: solid 1px #F3603B;
    color: white;
    border-radius: 30px;
}
/*BOTONES*/

/***BODY***/

/*****header******/

header{
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header div nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/***main***/

main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   /*ver si esto esta bien puesto a todo el main*/

main section h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    margin-left: 50px;
    margin-right: 60px;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}

.pgris{
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}

main div ul{
    
}






/*
main section div button{
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
*/







/*lo que habia puesto en p
    display: flex;
    justify-content: center;
    align-items: center; 
    */