*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
/* ir acomodando por orden*/
body{
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* MOVER A MAIN*/
.imagen1 img{
    width: 100%;
    height: auto;
}
h1{
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 25px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: -0.035em;
    color: #232C50;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    color:#232C50;
}
.h2{
    background-color: #F3613C;
    color: white;
}
h3{
    background-color: #FBEEE6;
}
/*MOVER A MAIN*/
/*BOTONES*/
.boton{
    /*ver como centrar bien el boton*/
    padding: 10px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.boton1{
    background-color: white;
    border: solid 1px white;
    color: #F3603B;
    border-radius: 50px;
}
.boton2{
    padding: 10px 25px;
    background-color:#F3603B;
    border: solid 1px #F3603B;
    color: white;
    border-radius: 30px;
}
/*BOTONES*/

/***BODY***/

/*****header******/

.menu{
    display: none;
}

header{
    width: 100%;
    margin-left: 11%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}
header div nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
} /*PARA CUANDO VAN EN DESKTOP ESTO LLEVA LO QUE ESCONDE LA HAMBURGUESA*/
/***header***/

/***main***/

main section h1{
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    text-align: center;
    margin-left: 50px;
    margin-right: 60px;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
/*BOTON GET STARTED*/
main section div button{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
/*H2*/
main section.subtitulo{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
/*ABAJO DEL H2*/
.pgris{
    text-align: center;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
main section.ventajas{
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}
main section.ventajas div.ventajastitulos {
    border-radius: 50px;
    background-color: rgb(255, 239, 234);
    width: 100%;
}
main section.ventajas div.ventajastitulos {
    border-radius: 50px;
    background-color: rgb(255, 239, 234);
    width: 100%;
}

span.numeroventaja {
    border-radius: 50px;
    border-color: none;
    background-color: #F3603B;
    padding: 5px 10px;
}

span.titulo {
    font-size: 20px;
    color: #232C50;
}
/***main parte dos***/

main section.articulos div.contenedora{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
span.h2estilo {
    padding-bottom: 100px;
}

.img{
    position: relative;
    left: 150px;
}









footer{
    width: 100%;

    background-color: #1E1E26;
}







/*lo que habia puesto en p
    display: flex;
    justify-content: center;
    align-items: center; 
    */