*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Outfit', sans-serif;
}


/*primera imagen grande*/

/*BOTONES*/
.boton {
    padding: 10px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.boton2{
    padding: 10px 25px;
    background-color:#F3603B;
    border: solid 1px #F3603B;
    color: white;
    border-radius: 30px;
} 

/*BOTONES*/

/***HEADER***/

header{
    width: 100%;
    padding: 0px;
    margin: 5% 0 5% ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header a{
    text-decoration: none;
    color: #232C50;
}
.menu{
    display: none;
}

.padre-1{
    display: flex;
    justify-content: space-between;
}
header div.logoprincipal img{
    margin-left: 10px;
}
header div.hamburguesa img{
    margin-right: 10px;
    position: relative;
    left: 175px;
}

/***HEADER END***/

/***MAIN***/

.imagen1 img{
    width: 100%;
}
section.padre-2{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 0px 30px 15px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.035em;
    color: #232C50;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.p{
    margin-bottom: 20px;
    text-align: center;
    padding: auto;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
/*BOTON GET STARTED*/
main section.padre-2 div button{
    /* ASI LO HABIA HECHO ANTES
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 10%;
    */
    position: relative;
    left: 144px;
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
}
section.padre-3{
    display: flex;
    flex-direction: column;
}
/*H2*/
h2{
    text-align: center;
    color:#232C50;
}
main div.subtitulo{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 30px;
    text-align: center;
    line-height: 26px;
}
.subtitulo1{
    margin-top: 65px;
    margin-bottom: 15px;
} 
.pcolor1{
    text-align: center;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
main div.ventajas{
    margin: 0px 10px 20px 15px;
    flex-wrap: wrap;
}
main div.ventajas div.ventajastitulos {
    border-radius: 50px;
    background-color: rgb(255, 239, 234);
    width: 100%;
}
span.numeroventaja {
    border-radius: 50px;
    border-color: none;
    background-color: #F3603B;
    padding: 5px 10px;
}
span.titulo {
    font-weight: bold;
    font-size: 20px;
    color: #232C50;
}
/*seguir con el color gris de los p debajo de 01,02,03*/
section p.contenido{
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: justify;
    color: #B3B2B7;
    font-size: 15,5px;

}
/*main parte de articulos*/

section.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.h2estilo h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
}
.pcolor2{
    text-align: center;
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}
section div.contenedora{
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article span.img img{
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    left: 120px;
}
.h4orden{
    margin-bottom: 20px;
    text-align: center;
}
div.boton-orden{
    margin: 30px 0px 30px 0px;
}

/*ver como acomodar el boton debajo de los articles */
/*SEGUIR CON ULTIMA PARTE DEL MAIN*/


section.mainlast{
    width: 100%;
    background-color: #F3613C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.mainlast span.h2font h2{
    text-align: center;
    font-weight:bold;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    width: 100%;
    color: white;
}
.boton1{
    margin-bottom: 60px;
    padding: 10px;
    background-color: white;
    border: solid 1px white;
    color: #F3603B;
    border-radius: 50px;
}
/***MAIN END***/

/***FOOTER***/
footer{
    width: 100%;
    padding-bottom: 30px;
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
}

label.estilo {
    margin-left: 15px;
    padding: 13px 50px 13px 30px;
    background-color: white;
    color:#B3B2B7;
    border-radius: 20px;
}
.botonGO{
    margin: 30px 0px 50px 10px;
    padding: 10px 20px 10px 20px;
    background-color: #F3603B;
    color: white;
    border: solid 1px #F3603B ;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
footer section.ordenlistas{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
footer div nav.lista ul{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    gap: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
/*logo*/
footer div.i {
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div.i a img{
    width: 30px;
}

footer section img.logo1 {
    margin-bottom: 10px;
    position: relative;
    left: 110px;
}

footer p.derechos{
    background-color: #1E1E26;
    font-size: 13px;
    color: #B3B2B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***FOOTER END***/

/*MEDIA*/
@media screen and (min-width:376px){

/*header*/
.boton:hover, .boton2:hover, .boton1:hover, .botonGO:hover{
    background-color: rgb(255, 239, 234);
    border: solid 1px rgb(255, 239, 234);
}

.menu{
    display: inline;
}
.hamburguesa{
    display: none;
}
header {
    display: flex;
    justify-content: space-around;
}

.padre-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
}

header div.menu nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; 
}/*

header .logoprincipal{
    margin-left: 20px;
}
/***header end***/

/***MAIN***/

.imagen1 img{
    padding-right: 80px;
    width: fit-content;
    flex-wrap: nowrap;
    /*position: relative;
    left: 450px;*/
}
section.padre-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
div.titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
h1{
    text-align: left ;
    font-size: 70px;
    line-height: 65px;
    margin-left: 55px;
    margin-bottom: 20px;
    padding-right: 96px;
    padding-left: 55px;
    
    
}
.p{
    font-size: 20px;
    text-align: left;
    padding-right: 280px;
    padding-left: 83px;
    color: black;
}
main section.padre-2 div button{
    padding: 10px 25px 10px 25px;
    position: absolute;
    top: 630px;
    left: 120px;/*ver como iba el boton*/
}
/*ver si esta bien moverlo asi*/
section.padre-3{
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subtitulo1{
    padding-right: 80px ;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: left;
    font-size: 45px;
    line-height: 40px;
} 
.pcolor1{
    padding-right: 150px;
    text-align: left;
    font-size: 20px;
    color: black;
    
}
main div.ventajas{
    margin-top: 30px;
    margin-right: 85px;
    flex-wrap: nowrap;
}
main div.ventajas div.ventajastitulos {
    background-color: white;
}
span.numeroventaja{
    padding:  5px 20px 5px 20px ;
    margin-right: 15px;
}
span.titulo{
    color: black;
}
section p.contenido{
    margin-left: 75px;
    margin-right: ;
    text-align: left;
}
section div.contenedora{
    margin-left: 120px;
    display: flex;
    flex-direction: row;
}
.h4orden{
    margin-right: 140px ;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pcolor2{
    margin-right: 120px;
}
div.boton-orden{
    margin: 50px 0px 100px;
}

/*mainlast*/

section.mainlast{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
section.mainlast span.h2font h2{
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 30px;
    width: 430px;
}
.boton1{
    margin: 0px;
}
/*MAIN END*/

/***FOOTER***/

footer{
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer section div form {
    margin-top: 35px;
    margin-right: 40px;
}
footer section.ordenlistas{
    margin-top: 50px;
    gap: 80px;
}
footer section.iconos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
footer section.iconos div.i{
    margin-left: -40px;
    margin-top: 80px;
    gap: 25px;
}
footer section.iconos div img.logo1{
    margin-top: 60px;
    margin-left: -30px;
    display: flex;
    order: -1;
}
footer p.derechos{
    position: absolute;
    right: 10vh;
    bottom: -180%;
}/*ver como mover esto*/
}
a:hover {
    font-weight: bold;
    color: #8f3926;
    transition:
    color 0.7s;
}


/*seguir con cambiar de lugar el logo con los iconos*/

/*color de los numeros 01, 02, 03 ponerle que se agranden los titulos con un hover*/





}










}