*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* ir acomodando por orden*/
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: -0.035em;
    color: #232C50;
}

h2{
    color:#232C50;
}
.h2{
    background-color: #F3613C;
    color: white;
}

/*BOTONES*/
.boton{
    padding: 10px;
    background-color: #F3603B;
    color: white;
    border-radius: 50px;
}
.boton1{
    background-color: white;
    color: #F3603B;
    border-radius: 50px;
}
.boton2{
    padding: 10px 25px;
    background-color:#F3603B;
    color: white;
    border-radius: 30px;
}
/*BOTONES*/



/*header*/
/*como hago para que me quede el logo a la misma altura que la lista*/

/*
.logo{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    order: -1;
}
header div nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: ;
}
.botonorden{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    order: 2;

}
*/
header div nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*****main******/

main {
    margin-left: 11%;
    margin-right: 10%;
}









/****footer*****/


footer{
    background-color: #1E1E26;
}
/* cada parrafo gris */
p{
    font-size: 16px;
}
.pgris{
    font-size: 16px;
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}


/*mobile*/
@media screen (min-width: 480px) {
    header{
        flex-direction: row;
    }
    header div nav ul{
        display: none;
        /*visibility: hidden;*/ 
}